doctype html
html(lang="en")
    head
        title=title
    body
        h1=title
        p=message

        // Add a button to navigate to the contacts page
        a(href="/update-cobj")
            button Add/update this table